
/* Used by home.php, profile.php, journal.php */

/* Globals */
.color-blue{
  /* rgb(47, 57, 71) */
  color: #2f3947;
}

/* Links */
a,
a:focus,
a:hover {
  color: #2f3947;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: white;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #2f3947;
  border: .05rem solid #2f3947;
}


/* Base structure */
* {
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
}

html,
body {
  height: 100%;
  background-color: #89f589;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #2f3947;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .25);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .25);
}

.cover-container {
  max-width: 42em;
}

/* Header */
.masthead {
  margin-bottom: 5rem;
}

.masthead-brand {
  margin-bottom: 1rem;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(47, 57, 71, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(47, 57, 71, .5);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #2f3947;
  border-bottom-color: #2f3947;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/* Cover */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/* Footer */
.mastfoot {
  color: rgba(47, 57, 71, .5);
}
